// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submit {
  margin: 0 auto;
  padding: 1em 2em;
  color: white;
  font-size: 14px;
  background-color:#55ACEE;
  border-radius: 30vh;
}

.submit :hover {
  text-decoration: none;
  background-color: #bbbbbb;
}